<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.trend.feature_content.ui.information.FinishLessonActivity"
            android:exported="false" />
        <activity
            android:name="com.trend.feature_content.ui.information.MainShowContentActivity"
            android:exported="false" />
        <activity
            android:name="com.trend.feature_content.ui.MainContentActivity"
            android:exported="false"
            android:label="@string/title_activity_main_content"
            android:theme="@style/AppTheme" />
    </application>

</manifest>